<div class="header">
  <h2>Lista de Repositórios</h2>
  <a [href]="userLogged.html_url"><h3>{{userLogged.html_url}}</h3></a>
</div>
<table *ngIf="!loading">
  <thead>
    <td>Nome</td>
    <td>Nome Completo</td>
    <td>Descrição</td>
    <td>Clone URL</td>
  </thead>
  <tbody>
    <tr *ngFor="let repo of repositories">
      <td>{{repo.name}}</td>
      <td>{{repo.full_name}}</td>
      <td>{{repo.description}}</td>
      <td>{{repo.clone_url}}</td>
    </tr>
  </tbody>
</table>
<div *ngIf="loading">
  <app-loading color="#666" [text]="'Carregando Dados...'"></app-loading>
</div>